<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:method="GET" th:action="@{/books/search}">
    <label for="startString">Введите поисковой запрос: </label>
    <input type="text" name="startString" id="startString"/>
    <br/>

    <input type="submit" value="Искать"/>
</form>

<div th:if="${books}">
    <div th:if="${books.isEmpty()}">
        <br>
        <p>Книг не найдено.</p>
        <br>
    </div>
    <hr/>
    <div th:if="${!books.isEmpty()}">
        <div th:each="book : ${books}">
            <p th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYearOfProduction()}">book</p>
            <div th:if="${book.getReader() != null}">
                <p th:text="${'Книга сейчас у: ' + book.getReader().getFullName()}">reader</p>
            </div>
            <div th:if="${book.getReader() == null}">
                <p th:text="'Книга свободна'">free</p>
            </div>
            <hr/>
        </div>
    </div>
</div>



</body>
</html>